.addForm {
	display: block;
	padding-top: 44px;

	&__title {
		text-align: center;
		padding-bottom: 8px;
	}

	&__main {
		display: block;
		&_warn {
			border: 1px #fdf32e solid;
		}
		&_err {
			border: 1px #ff1f3a solid;
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding-bottom: 2px;
	}

	&__desc {
		height: 20px; // TODO: change it
		margin-top: auto;
		margin-bottom: auto;
	}

	&__manage {
		display: flex;
		justify-content: center;
	}

	& &__btn {
		margin: 4px;
	}
}
