@import "../modules/variables";
.report-list {
  display: inline-block;

  width: 45%;
  min-width: 290px;

  height: 50%;
  min-height: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border: 1px solid #E0E0E0;;
  border-radius: 5px;

  &__item {
    height: 30px;
    display: contents;
    margin: auto 2% auto 2%;
    &-d {
      background-color: $focus-color;
    }
    &-w {
      background-color: $body-color;
    }
  }
}