@import "../modules/variables";
.report {
  display: block;
  padding-bottom: 8%;

  &__items {
    display: table;
  }

  &__row {
    display: table-row;
  }

  &__elem {
    display: table-cell;
    padding: 5px 10px 5px 10px;
    border: 1px solid #683e3e99;

    &_main {
      font-family: $font-stack;
      font-size: 18px;
      font-weight: bold;
    }
  }
}
