.font {
	&_color {
		&_red {
			color: red;
		}

		&_green {
			color: #2eca2a;
		}
	}

	&_size {
		&_small {
			font-size: 12px;
		}

		&_middle {
			font-size: 18px;
		}

		&_large {
			font-size: 24px;
		}

		&_large-x {
			font-size: 32px;
		}
	}

	&_bold {
		font-weight: bold;
	}
}
