@import '../modules/mixins';
@import '../modules/variables';

$icon-bg-size: 20px, 20px;
$icon-bg-sizes: (large: (24px, 24px),
        xlarge: (28px, 28px),
        xxlarge: (36px, 36px),
        xxxlarge: (50px, 50px),
        tall: (30px, 24px),
        full: (100%, 100%));

@function get-icon-bg-height($size) {
  @if $size == nil {
    @return nth($icon-bg-size, 1);
  }
  @return nth(map-get($icon-bg-sizes, $size), 1);
}
@function get-icon-bg-width($size) {
  @if $size == nil {
    @return nth($icon-bg-size, 2);
  }
  @return nth(map-get($icon-bg-sizes, $size), 2);
}

.icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  border: 1px solid $border-color;

  &_shape {
    &_round {
      border-radius: 100%;
    }
  }

  &_color {
    &_green {
      background-color: $secondary-color;
    }
    &_white {
      background-color: white;
    }
    &_black {
      background-color: black;
    }
    &_muted {
      background-color: $muted-color-dark;
    }
    &_dark-gray {
      background-color: $dark-gray;
    }
    &_muted-light {
      background-color: $muted-color-light;
    }
    &_vk {
      background-color: $vk-color;
    }
    &_fb {
      background-color: $fb-color;
    }
    &_ok {
      background-color: $ok-color;
    }
  }
  &_size {
    @each $size, $_ in $icon-bg-sizes {
      &_#{$size} {
        height: get-icon-bg-height($size);
        width: get-icon-bg-width($size);
      }
    }
  }
  //flags
  &_btn {
    cursor: pointer;
    @include transition(make-transition(box-shadow, 0.2s));
    &:hover {
      @include shadow($shadow-outline, $shadow-small-focus);
    }
  }
  &_borderless {
    border: none;
  }
}
