@import '../modules/variables';
.report-list {
  display: inline-block;

  width: 53%;
  min-width: 684px;
  margin-top: 100px;
  min-height: 200px;
  border: 1px solid $border-color;
  border-radius: 5px;

  &__item {
    height: 35px;
    display: block;

    &-d {
      background-color: $focus-color;
      padding-left: 5%;
      min-height: 35px;
      display: flex;
      align-items: center;
    }

    &-w {
      background-color: $body-color;
      padding-left: 5%;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  &__num {
    display: inline;
    padding-right: 5px;
  }
}
