<html lang="ru">
<head> <meta charset="UTF-8">
    <title> Главное меню </title></head>
<body bgcolor = #ae89ec text = black>
<br><h2 align = center>   <!-- Крупный заголовок -->
    Выберите действие
</h2> <br>
<hr size=1 width=70% color = black>   <!-- Линия подчеркивания -->
<table border=0 align=center><tbody>
<tr>
    <td>Составить отчёт о поставках книг за март 2017 года по форме: код книги, цена экземпляра,  общее количество экземпляров.</td>
    <td align=center><form action="http://Localhost/Kursovaya/z1.php"><input type=submit name=z1 value='Запрос 1'></form></td></tr>
<tr>
    <td>Составить отчёт о поставках за март 2017 года по форме: код издательства, название издательства, общая сумма всех заказов</td>
    <td align=center><form action="http://Localhost/Kursovaya/z2.php"><input type=submit name=z2 value='Запрос 2'></form></td></tr>
<tr>
    <td>Показать все сведения об издательстве, у которого были заказаны самые дорогие экземпляры книги с кодом 1 в марте 2017 года</td>
    <td align=center><form action="http://Localhost/Kursovaya/z3.php"><input type=submit name=z3 value='Запрос 3'></form></td></tr>
<tr>
    <td>Показать все сведения об издательстве, в котором был размещен самый дорогой заказ  в первом полугодии 2017 года</td>
    <td align=center><form action="http://Localhost/Kursovaya/z4.php"><input type=submit name=z4 value='Запрос 4'></form></td></tr>
<tr>
    <td>Показать все сведения об издательствах, не сделавших ещё ни одной поставки</td>
    <td align=center><form action="http://Localhost/Kursovaya/z5.php"><input type=submit name=z5 value='Запрос 5'></form></td></tr>
<tr>
    <td>Показать все сведения об издательствах, не сделавших ни одной поставки в марте 2017 года</td>
    <td align=center><form action="http://Localhost/Kursovaya/z6.php"><input type=submit name=z6 value='Запрос 6'></form></td></tr>
<tr>
    <td>Создать отчёт об общей стоимости поставки книг издательствами</td>
    <td align=center><form action="http://Localhost/Kursovaya/pr1.html"><input type=submit name=pr value='Создать отчёт'></form></td></tr>
<tr>
    <td>Просмотреть отчёт об общей стоимости поставки книг издательствами</td>
    <td align=center><form action="http://Localhost/Kursovaya/pr2.html"><input type=submit name=pr value='Просмотреть отчёт'></form></td></tr></tbody></table>
<hr size=1 width=70% color = black>
<div align=center><br><br><input type=submit value="Выход" onclick="self.close()">
</div> </body>  </html>