@import "variables";

html, body, #application, #main {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: $font-stack;
}

body {
  background: #FFF;// #424242; // url("../../public/images/hexagon.jpg");
  background-size: 100%;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#application, #main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }
}

label {
  cursor: pointer;
}

.title {
  display: block;
  text-align: center;
  font-size: 24px;

  font-weight: bold;

  &_size_large {
    font-size: 28px;
  }
}

.hr {
  display: block;
  height: 0;
  padding: 0;

  border: 0;
  border-top: 1px solid $border-color;

  &_inline {
    margin: 0;
  }
}